@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --color-primary-accent: #759D97;
    --color-secondary-bg: #E0F1F1;
    --color-highlight: #fdda87;
    --color-subtle-bg: #CFE6E7;
    --color-primary-text: #354B4A;
    --color-dark-bg: #27494c;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--color-secondary-bg);
    color: var(--color-primary-text);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark-bg);
    padding: 15px 20px;
    color: white;
}
.logo { font-size: 24px; font-weight: 700; }
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}
.navbar ul li {
    display: inline;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}
.navbar ul li a:hover {
    color: var(--color-highlight);
}