@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --color-primary-accent: #759D97;
    --color-secondary-bg: #E0F1F1;
    --color-highlight: #fdda87;
    --color-subtle-bg: #CFE6E7;
    --color-primary-text: #354B4A;
    --color-dark-bg: #27494c;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--color-secondary-bg);
    color: var(--color-primary-text);
}
.hero img{
    position: relative;
    z-index: 1;
    width: 300px !important;
    height: auto !important;
}
.about-us{
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    color: var(--color-highlight);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark-bg);
    padding: 15px 20px;
    color: white;
}
.logo { font-size: 24px; font-weight: 700; }
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-left: 40px;
}
.navbar ul li {
    display: inline;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
.navbar ul li a:hover {
    color: var(--color-highlight);
}
.hero {
    background-color: var(--color-subtle-bg);
    padding: 80px 20px;
}
.hero h1 {
    position: relative;
    font-size: 130px;
    font-weight: 700;
    margin: 0;
    margin-bottom: -110px;
    z-index: 10;
    color: var(--color-dark-bg);
}
.hero p {
    font-size: 20px;
    color: var(--color-primary-text);
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5;
}
.about {
    background-color: var(--color-dark-bg);
    color: white;
    padding: 60px 20px;
}
.about-us {
    font-size: 130px;
    font-weight: 700;
    color: var(--color-highlight);
    margin-bottom: 20px;
}
.about p {
    font-size: 18px;
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
}
footer {
    background-color: var(--color-dark-bg);
    color: white;
    padding: 15px 20px;
    text-align: center;
}