:root {
    --color-primary-accent: #759D97;
    --color-secondary-bg: #E0F1F1;
    --color-highlight: #d3b770;
    --color-subtle-bg: #CFE6E7;
    --color-primary-text: #354B4A;
    --color-dark-bg: #426261;
}

body{
    background-color: var(--color-secondary-bg);
    padding-top: 100px;
    height: 100%; /* Ensure the page takes up full height */
    margin: 0px;    /* Remove default margin */
    display: flex; /* Flex layout */
    flex-direction: column; /* Stack items vertically */
}

/* TITLE */
h1{
    text-align: center;
    font-family: "Montserrat", serif;
    font-size: 120px; 
    margin-bottom: 30px;
    padding: 0;
    color: #27494c;
    margin-top: 40px;
}

h2{
   color: #27494c;
}

.logo{
    height: 150px;
    margin-left: 20px;
    margin-bottom: -25px;
}

.header {
    display: flex;                /* Enable flexbox layout */
    align-items: center;          /* Vertically center the logo and nav items */
    justify-content: space-between; /* Space between logo and nav items */
    padding: 10px 20px;           /* Optional: Add some padding for spacing */
}


/* OVERALL NAVBAR */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 7%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #27494c; /* Set a solid background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add shadow for depth */
    backdrop-filter: blur(5px); /* Optional: apply blur effect */
}


.navbar {
    list-style: none;
    display: flex;
    gap:20px;
    margin-right: 70px;
}

.navbar .nav-logo{
    align-items: left;
    margin-right: auto;
}

.logo{
    margin-top: -20px;
}


.navbar li{
    display: inline-block;
    text-align: center;
    font-family: "Montserrat", serif;
    margin-left: 10px;
    
}

.header_text{
    font-size: 45px;
    padding: 10px;
    color: white;
    font-family: "Montserrat", serif;
    border-radius: 20%;
    text-decoration: none;
    font-weight: 700;
}

.btn a {
    font-size: 22px;
    padding: 10px;
    color: white;
    font-family: "Montserrat", serif;
    border-radius: 20%;
    text-decoration: none;
}

.btn a:hover {
    color: var( --color-primary-accent);
}





/* OVERALL GRID STYLING */
.grid-container{
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 10px;
}
.grid-item{
    border: none;
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin-bottom: 50px;
}
.role{
    transform: rotate(90deg);
}

.internal-grid{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content:center;
    margin-bottom: 50px;
}

.internal-grid h3{
    font-family: "Montserrat", serif;
    color: #d8ae5e;
    font-size: 30px;
    margin-left: -60px;
    margin-bottom: 100px;
}

.grid-item h2{
    text-align: center;
    margin-left: 40px;
    font-family: "Montserrat", serif;
}
.grid-item p{
    text-align: center;
    margin-left: 40px;
    font-family: "Montserrat", serif;
}
.gridimg{ 
    height: 470px;
    width: 360px;
    margin-right: -20px;
}

#specialcase{
    height: 400px;
    width: 380px;
    margin-left: 80px;
}

/* Social REACH OUT */
.socials-about img{
    margin-top: 30px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}


/* FOOTER */
footer {
    background-color: var(--color-dark-bg);
    display:flex;
    justify-content: center;
    color: #efefef;
    font-size: 15px;
    font-family: "Montserrat", serif;
    padding-top: 7px;
    margin-top: 10px;
    width: 100%;  /* Make sure the footer spans the entire width of the viewport */
    height: 80px;
}

footer p{
    margin-top: 31px;
}

/* SOCIALS PART OF LINK */
.socials {
    list-style-type: none;
    padding: 0;
    margin-left: 25px;
}
.socials li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
.socials img {
    width: 30px;
    height: 30px;

}

