@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --color-primary-accent: #759D97;
    --color-secondary-bg: #E0F1F1;
    --color-highlight: #fdda87;
    --color-subtle-bg: #CFE6E7;
    --color-primary-text: #354B4A;
    --color-dark-bg: #27494c;
}


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--color-secondary-bg);
    color: var(--color-primary-text);
}


/* TITLE */
h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 130px;
    margin-bottom: 30px;
    padding: 0;
    color: var(--color-dark-bg);
    margin-top: 70px;
}

h2{
   color: #27494c;
}

.header {
    display: flex;                /* Enable flexbox layout */
    align-items: center;          /* Vertically center the logo and nav items */
    justify-content: space-between; /* Space between logo and nav items */
    padding: 10px 20px;           /* Optional: Add some padding for spacing */
}


/* Nav Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-dark-bg);
    padding: 15px 20px;
    color: white;
}
.logo { font-size: 24px; font-weight: 700; }
.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-left: 40px;
}
.navbar ul li {
    display: inline;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s;
}
.navbar ul li a:hover {
    color: var(--color-highlight);
}



/* OVERALL GRID STYLING */
.grid-container{
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 10px;
    
}

.grid-item{
    border: none;
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.title{
    display: flex;
    flex-direction: column;
}

.text-role{
    align-items: center;
    justify-content: center;
    text-align: left;
}

.internal-grid{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    padding-left: 60px 30px;
    justify-content: center;
    
}

.grid-item p{
    text-align: left;
    font-size: 18px;
    font-family: "Montserrat", serif;
}

.gridimg{ 
    height: 470px;
    width: 360px;
    text-align: center;
    justify-content: center;
}

.role h3{
    font-size: 36px;
    color: #dca743;
    font-style: italic;
}

/* Social REACH OUT */
.socials-about img{
    margin-top: 0px;
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

.nameSocial{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nameSocial h2{
    margin-right: 30px;
    text-align: left;
    font-size: 30px;
    font-family: "Montserrat", serif;
}


/* FOOTER */
footer {
    background-color: var(--color-dark-bg);
    display:flex;
    justify-content: center;
    color: #efefef;
    font-size: 15px;
    font-family: "Montserrat", serif;
    padding-top: 7px;
    margin-top: 10px;
    width: 100%;  /* Make sure the footer spans the entire width of the viewport */
    height: 80px;
}

footer p{
    margin-top: 31px;
}

/* SOCIALS PART OF LINK */
.socials {
    list-style-type: none;
    padding: 0;
    margin-left: 25px;
}
.socials li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
.socials img {
    width: 30px;
    height: 30px;

}

