:root {
    --color-1: #759D97;
    --color-2: #9DC9CA;
    --color-3: #FEDC86;
    --color-4: #9BC9CD;
    --color-5: #2a3a3a;
}



body{
    background-color: #9DC9CA;
    padding-top: 70px;
    height: 100%; /* Ensure the page takes up full height */
    margin: 0;    /* Remove default margin */
    display: flex; /* Flex layout */
    flex-direction: column; /* Stack items vertically */
}

/* TITLE */
h1{
    text-align: center;
    font-family: Verdana;
    font-size: 60px; 
    margin-bottom: 30px;
    padding: 0;
    color: var(--color-5);
}

.logo{
    height: 150px;
    margin-left: 20px;
    margin-bottom: -25px;
}

.header {
    display: flex;                /* Enable flexbox layout */
    align-items: center;          /* Vertically center the logo and nav items */
    justify-content: space-between; /* Space between logo and nav items */
    padding: 10px 20px;           /* Optional: Add some padding for spacing */
}


/* OVERALL NAVBAR */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--color-2);
    position: fixed;
    width: 95%;
    height: 10%;
    top: 0;
    left: 0;
    z-index: 1000;
}


.navbar {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .nav-logo{
    align-items: left;
    margin-right: auto;
}


.navbar li{
    display: inline-block;
    text-align: center;
    font-family: Verdana;
    margin-top: 15px;
    margin-left: 10px;
}

.btn a {
    font-size: large;
    padding: 10px;
    color: var(--color-5);
    border-radius: 20%;
}

.btn a:hover {
    color: var(--color-3);
}





/* OVERALL GRID STYLING */
.grid-container{
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin: 10px;
}
.grid-item{
    border: none;
    display: flex;
    padding: 40px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}
.grid-item h2{
    text-align: center;
    margin-left: 40px;
}
.grid-item p{
    text-align: center;
    margin-left: 40px;
}
.gridimg{ 
    height: 400px;
    width: 300px;
    
}


/* FOOTER */
footer {
    background-color: var(--color-5);
    display:flex;
    justify-content: center;
    color: #efefef;
    font-size: 29px;
    font-family: Papyrus, Fantasy;
    padding-top: 7px;
    margin-top: 10px;
    width: 100%;  /* Make sure the footer spans the entire width of the viewport */
}

footer p{
    margin-top: 31px;
}

/* SOCIALS PART OF LINK */
.socials {
    list-style-type: none;
    padding: 0;
    margin-left: 25px;
}
.socials li {
    display: inline-block;
    margin-right: 10px;
}
.socials img {
    width: 40px;
    height: 40px;

}

